[submodule "Dependencies/curl"]
	path = Dependencies/curl
	url = https://github.com/curl/curl
[submodule "Dependencies/rapidjson"]
	path = Dependencies/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "Dependencies/mecab"]
	path = Dependencies/mecab
	url = https://github.com/taku910/mecab
[submodule "Dependencies/parallel-hashmap"]
	path = Dependencies/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap
